/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar_img{
    width: 9rem !important;
    height: 4rem !important;
}
.connector-line {
   
    left: 50%;
    top: 0;
    bottom: 0; 
    width: 2px;
    background-color: #5b5b5b;
    transform: translateX(3vw);
  }
  
  .notilist {
    margin: 1rem;
    background: rgba(217, 217, 217, 0.25);
    display:block;
    padding: 1px;
    left:0;
    position: absolute;
    top:0;
    width: 100%
  }

  .title{
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;

  }

  .li {
    margin-bottom: 1px; /* Add margin at the bottom of each <li> element */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
  }
  .form-textbox{
    padding: 5px;
    
  }