/* styles.css */
 
* {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  /* Add any additional styles as needed for your application */
  